body{
    background-color: lightskyblue;
    color: black;
    font-weight: bolder;
    font-size: larger;
}
#list{
list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: pink;
}
a{
    
    text-decoration: none;
    
}